@fontePrincipal: Roboto, sans-serif;
@fonteDoTitulo: Comic Neue, cursive; 
@corDeFundo: rgba(68, 255, 124, 0.692);
@corDoTexto: Black;

body { 
    background-color: @corDeFundo;
    font-family: @fontePrincipal;
    color: @corDoTexto;
}

h1 { 
    font-family: @fonteDoTitulo;
    font-size: 3em;
}

main { 
    max-width: 960;
    width: 100%;
    margin: 0 auto;
    font-size: 1.8em;
    text-align:center;
}


#digital-clock {
        padding: 16px;
        margin-top: 120px;
        font-size:4em;
    }
#data { 
        padding: 16px;
        margin-top: 120px;
        font-size:1em;
        font-weight: 500;
    }
